{% extends "dose_app/modelo_base.html" %}

{% block col1 %}

   <div class="jumbotron">
        <h1 style="font-size:300%;text-align:center;"><i>HUCAM Doses</i></h1>
        <div style="text-align:justify;">
        <p>O aplicativo <i>HUCAM Doses</i> foi criado a fim de permitir um maior controle de dose dos pacientes do hospital.
            Ele foi desenvolvido pela equipe de Radiologia e serviço de Física Médica e Radioproteção do Hospital Cassiano Antonio
            Moraes orientado pelo Físico Médico Elias Vergílio Da Cas</p>
        <p>Toda informação presente no site foi obtida a partir de pacientes do hospital, porém as informações mais antigas
            presentes são de 16 de Março de 2015, que foi a data na qual o sistema de armazenamento DICOM foi instalado e configurado
            própriamente nos aparelhos do hospital.</p>
        <p>Atualmente, devido a ser o estágio inicial do aplicativo, apenas as informações voltadas a exames de angiografia
            estão armazenadas e apresentadas no site. Porém, futuramente serão integrados tomógrafos, mamógrafos e outros. </p>
        <p>Qualquer duvida contactar: <b>doses.hucam@gmail.com</b></p>
        <h2><br></h2>
        </div>
    </div>


{% endblock %}